.panel {
  position: relative;
  z-index: 500;
  margin: 20px 230px 20px 230px;
  transition: margin 1s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.panel.active {
  margin: 80px 60px 20px 100px !important;
}

.panel.active.viewClass {
  margin-top: 20px !important;
}

.panel-collapse.in {
  transition: ease;
}

th {
  text-align: center
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.form-control {
  width: 80%;
  margin: auto
}

.form-control.empty {
  border-color: indianred;
  border-width: 2px;
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s
}

.filter-component {
  border: 2px solid;
  border-radius: 10px;
  background: #efefef;
  box-shadow: 0px 10px 30px -12px rgba(0,0,0,1);
  margin: 10px 30px 10px 10px !important;
  padding: 10px 20px 15px 0px !important;
  width: 100%;
}

.filter-input {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  margin: 2px 5px 2px 5px;
  padding: 2px 5px 2px 5px;
}

select.filter-input {
  background-color:  #fafafa;
}

#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5000;
}

.loading-overlay {
  background: #e9e9e9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

[v-cloak] {
  display: none;
}

.btn-default .badge {
  float: right;
  /*background-color: #d9534f;*/
}

ul {
  list-style-type: none;
}

.side-button {
  position: fixed;
  left: 0px;
  width: 4vw;
}

.side-button .btn {
  color: #0F0752;
  font-size: 20px;
  border-radius: 1px 7px 7px 1px;
  border-color: #666666;
}

#filter-button {
  top: 250px;
}

#analysis-button {
  top: 300px;
}

#tables-button {
  top: 350px;
}

#download-button {
  top: 400px;
}

#settings-button {
  top: 450px;
}

#example-button {
  color: #eeeeee;
  background-color: #0F0752;
}

.filtergap {
  margin-top: 20px;
}

input[type=checkbox] {
  margin-right: 4px
}

.VuePagination {
  text-align: center
}

.VueTables select{
  margin-left: 5px;
  margin-right: 10px;
}