.modal-mask {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  /*transition: all 1s ease;*/
}

.modal-header {
  height: 10vh;
}

.modal-footer {
  height: 5vh;
}

#common-mask {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

#gene-modal .modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#gene-modal .modal-container {
  width: 80vw;
  height: 90vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  font-family: Helvetica, Arial, sans-serif;
}

#gene-modal .modal-body {
  height: 60vh;
  margin: 20px 0;
}

.modalaxis path {
  display: none;
}

.modalaxis line {
  display: none;
}

.modalaxis text {
  font-size: 14px;
}

#analysis-modal .modal-wrapper {
  position: fixed;
  z-index: 2500;
  top: 2vw;
  left: 5vw;
}

#analysis-modal .modal-container {
  width: 90vw;
  height: 90vh;
  margin: 0px auto;
  /*padding: 20px 30px;*/
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  font-family: Helvetica, Arial, sans-serif;
}

#analysis-modal .modal-header {
  height: 8vh;
}

#analysis-modal .modal-body {
  height: 75vh;
  margin: 0px 20px 0 2px;
}

#filter-modal .modal-wrapper {
  position: fixed;
  z-index: 2500;
  left: 0;
  top: 0;
}

#filter-modal .modal-container {
  width: 45vw;
  height: 100vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  /*transition: all 1s ease;*/
  font-family: Helvetica, Arial, sans-serif;
}

#settings-modal .modal-wrapper {
  position: fixed;
  z-index: 2500;
  left: 0;
  top: 0;
}

#settings-modal .modal-container {
  width: 40vw;
  height: 100vh;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  /*transition: all 1s ease;*/
  font-family: Helvetica, Arial, sans-serif;
}

#settings-modal .modal-body {
  height: 70vh;
  margin: 20px 0;
}

#settings-modal li {
  padding: 5px;
}